.setas {
    background-image: url(./src/image/seta.png);
    width: 4.9rem;
    height: 7.8rem;
    position: absolute;
    right: 0;
    margin: 7rem;
    top: 40%;
}

.esquerda {
    transform: rotate(180deg);
    left: 0;

}

.comum {
    height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    
}

.informacoes {
    background-color: white;
    width: 62rem;
    height: 70rem;
    border-radius: 1rem;
    margin-left: 18rem;
    font-family: 'Robota', sans-serif;
    padding: 6.5rem 6rem;
}

.informacoes .titulo {
    font-weight: 400;
    font-size: 5rem;
    line-height: 5.859rem;
    margin-bottom: 8rem;

}

.informacoes .texto {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 5rem;
}

.informacoes .botao {
    font-weight: 700;
    font-size: 3rem;
    line-height:
        3.516rem;
}

.botao0 {
    color: #C50000;
}

.botao1 {
    color: #D9DD10;
}

.botao2 {
    color: #A63A17;
}

.botao3 {
    color: #10ACDD;
}

.slide0 {
    background-image: url(./src/image/sakura.png)
}

.slide1 {
    background-image: url(./src/image/flores.png);
}

.slide2 {
    background-image: url(./src/image/montanhas.png);
}

.slide3 {
    background-image: url(./src/image/lago.png);
}

.slideInativo {
    display: none;
}

.desativa {
    opacity: 50%;
    cursor: auto;
}